*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

:root {
    --bg-color: #04102b;
    --second-bg-color: #000000;
    --text-color: white;
    --main-color: #eb47a6;
}

html{
    font-size: 75%;
    overflow-x: hidden; 
}

body{
    background: var(--bg-color);
    color: var(--text-color);

}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

span{
    background: linear-gradient(
        270deg,
        #eb47a6 10%,
        #801151 100%
    );
    background-clip: text;
    color: transparent;
}

.navbar a{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.gradient-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        #eb47a6 10%,
        #801151 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover{
    transform: scale(1.05);
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.home-content h1{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    margin: 1rem 0;
    font-size: 1.8rem;
    white-space: nowrap;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.0;
    margin: 1rem 0;
    
}
.home-img img{
    width: 35vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  margin: 1rem 0rem;
  transition: 0.3s ease-in-out;
}
.social-icons img{
  width: 25px;
  height: 25px;
  display: block;
}
.social-icons a:hover{
    background-color: var(--main-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
}
.about-img img{
    width: 32vw;
    border: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.about-img :hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
                
}
.about-content h2{
    font-size: 7rem;
    text-align: center;
}
.about-content p{
    font-size: 1.8rem;
    text-align: left;
}
.about-content .btn{
    margin: 3rem 0;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}
.projects{
    background-color: var(--second-bg-color);
}
.projects .heading { 
    margin-bottom: 3rem; 
}
.projects h2{
    font-size: 7rem;
    text-align: center;
}
.projects-box h3{
    font-size: 3rem;
    text-align: center;
}
.projects-box p{
    font-size: 1.3rem;
    text-align: center;
}
.projects-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 3rem;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--second-bg-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease
}
.project-card:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
    transform: scale(1.02);
}
.project-card img{
    max-width: 300px;
    border-radius: 2em;
    object-fit: cover;
}
.contact h2{
    font-size: 7rem;
    text-align: center;
}
.contact p{
    font-size: 2rem;
    text-align: left;
}
.contact .heading { 
    margin-bottom: 3rem; 
}